body {
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}
#image {
    border-radius: 100px;
}
#tribute-info {
    justify-content: center;
    align-items: center;
    display: inline;
    text-align: justify;
    font-size: 30px;
}